#toc {
  float: left;
  width: 30%;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 2.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  border-right: 0.1rem dashed black;
  border-bottom: 0.1rem dashed black;
}

article {
  float: left;
  width: 70%;
}


section::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1366px) {
  #toc, article {
    width: 100%;
    height: auto;
  }
  #toc {
    border: none;
    margin: auto;
  }
}